{% extends "base.html" %}{% load i18n %}
{% block title %}{{ block.super }} {{ task }}{% endblock title %}
{% block content %}
<h1> {{ information.name }}
    {% if request.user.is_authenticated %}
    <a href="{% url 'information_like' information.pk %}?next={{ request.path }}">&#128077;</a>
    {% else %}
    &#128077;
    {% endif %}
    {{information.likes.count }}
</h1>
<p>{% trans "owner"|capfirst %}: {{ information.owner }} </p>
<p>{{ information.description }}</p>
{% if information.youtube_video %}
<div class='tube'>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{information.youtube_video}}" title="YouTube info" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<div>
{% endif %}
<p>{% trans "created"|capfirst %}: {{ information.created_at }}{% if information.created_at != information.updated_at %},
    {% trans "updated" %}: {{ information.updated_at }}
{% endif %}
</p>
{% endblock content %}