body {
    background-color: #8dda11;
    font-family: sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    margin: 10; 
    padding: 0;
    min-height: 100vh;
}
header {
    background-color: #f00e0e;
}

main {
    flex-grow: 1;
}

footer {
    background-color: #666666;
}
a {
    color: #004488;
    text-decoration: none;
}

a:hover {
    color: #0055cc;
}